*{padding: 0;
  margin: 0;
  box-sizing: border-box;}


.title{text-align: center;
margin: 25px;}




.row{width: 100%,}


.sub_head1{position: absolute;
top: 0;
right: 0;
width: 100px;
text-align: center;
background-color: lightcoral;
border-left: 5px solid black;
border-bottom: 5px solid black;}


.sub_head2{position: absolute;
  top: 0;
  right: 0;
width: 100px;
text-align: center;
background-color: firebrick;
border-left: 5px solid black;
border-bottom: 5px solid black;}



  .sub_head3{position: absolute;
    top: 0;
    right: 0;
  width: 100px;
text-align: center;
background-color: khaki;
border-left: 5px solid black;
border-bottom: 5px solid black;}



.left_div{float: left;
border: 5px solid black;
width: 30%;
padding: 15px;
padding-top: 40px;
margin-left:3%;
margin-right: 2%;
background-color: dimgrey;
position: relative;}

.center_div{float: left;border: 5px solid black;
  width: 30%;
padding: 15px;
padding-top: 40px;
margin-right: 2%;
background-color: dimgrey;
position: relative;}

.right_div{float: left;border: 5px solid black;
  width: 30%;
padding: 15px;
padding-top: 40px;
background-color: dimgrey;
position: relative;
}








@media (min-width: 768px) and (max-width: 991px) {
  .right_div {
    align-self: center;
    width: 92%;
    height: 250px;
    margin-left: 3%;
    margin-top: 5%;
    
    
    
    
    
    }
    .center_div{
      width: 45%;
      
      }
      .left_div{
        width: 45%;
        
  }

}


@media (min-width: 0px) and (max-width: 767px) {

  
  .left_div{width: 90%;
    margin-left: 5%;
  margin-bottom: 5%;}

    .center_div{width: 90%;
    margin-left: 5%;
  margin-bottom: 5%;}

       .right_div {width: 90%;
      margin-left: 5%;}
  }



